<div class="container">
    <form id="loginForm">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="usernameLogin" id="usernameLogin" placeholder="Username" aria-label="Username" aria-describedby="Username">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" name="passwordLogin" id="passwordLogin" placeholder="Password" aria-label="Password">
        </div>
        <div>
            <button class="btn btn-primary w-100" type="submit">Log In</button>
        </div>
    </form>
</div>
<script src="{{basepath}}/javascript/login.js"></script>