:root {
    --primaryColor: #FE0000;
    --secondaryColor: #FFD405;
    --tableRowBG: #eee;
    --primaryBorder: #ddd solid 1px;
    --boxShadowHover: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    --panelPad: 30px 20px;
    --padding: 20px;
    --fontxSmall: 12px;
    --fontSmall: 14px;
    --fontMedium: 16px;
    --fontLarge: 18px;
    --fontxLarge: 22px;
    --borderRadius: 5px;
    --h1Font: Open Sans;
    --h2Font: Open Sans;
    --h3Font: Open Sans;
    --h4Font: Open Sans;
    --h5Font: Open Sans;
    --spanFont: Open Sans;
    --pFont: Open Sans;
    --labelFont: Open Sans;
    --boxShadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.23);;
    --tableHeadColor: #F2F6FC;
    --tableCellPadding: 10px 0px;
    --primaryFontFamily: Open Sans;
    --secondaryFontFamily: Open Sans;
    --tertiaryFontFamily: Open Sans;
    --bs-body-font-family: Open Sans;
    --bs-body-bg: black;
    --bs-body-color: white;
}